*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container{
width: calc(100% - 330px);
margin: 0 auto;
}

.row{
display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header{
    padding: 21.84px 0;
    

}

.header a{
    text-decoration: none;
    color: #3A3845;
    
 }



.list ul{
    display: flex;
    gap:60px;
    list-style-type: none;
}

.icons ul {
    display: flex;
    list-style-type: none;
    gap:24px;
}
.menu{
    display: none;
    width: 20px;
}
.shopping{
    display: none;

}
@media screen and (min-width: 0px) and (max-width: 968px){
    .list{
        display: none;
    }
    .icons{
        display: none;
    }
    .menu{
        display: flex;
    }
    .shopping{
        display: flex;
    }
 
}
.collection_section{
   
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  
}

.collection{
    width: calc((100% - 90px) / 4);
    text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 425px){
    .container{
        width: calc(100% - 50px);
    }
   .collection .row{
        flex-direction: column;
        gap: 20px;
    }
    .collection{
        width: 100%;
        text-align: center;

    }
}
 @media screen and (min-width: 426px) and (max-width: 768px){
    
    .container{
        width: calc(100% - 100px);
        
    }
    

    .collection{
        width: calc((100% - 30px) / 2);
        text-align: center;
    }

    .list ul{
        gap: 30px;
    }
}
 @media screen and (min-width: 769px) and (max-width: 968px){
    
    .container{
        width: calc(100% - 150px);
        
    }
    

    .collection{
        width: calc((100% - 60px) / 3);
        text-align: center;
    }

    .list ul{
        gap: 30px;
    }
}
    
    

img{
    width: 100%;
}
.sales .row{
    display: flex;
    align-items: stretch;
}

.description-sales{
    width: 50%;
    background-color: #F7F6F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-sales{
    width: 50%;
}

.img-sales img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-sales h2{
    width: 50%;
    margin: auto;
    font-family: Garamond;
    font-size: 28px;
    letter-spacing: 4%;
    text-transform: uppercase;
}
.description-sales-center{
    align-items: center;
    text-align: center;
}
.description-sales p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    width: 45%;
    margin: auto;
    color: #807F86;
    margin-top: 24px;
    margin-bottom: 34px;
}
.description-sales a{
    
    border-bottom: solid black 1px;
   font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 6%;
    width: 20%;
}
@media screen and (min-width: 0px) and (max-width: 425px){
   .sales .description-sales{
    width: 100%;

   }
    .description-sales h2 {
    font-size: 12px;
  }
  .description-sales a {
    font-size: 10px;
  }
  .description-sales p {
    font-size: 10px;
  }
  .img-sales {
    width: 100%;
  }
  
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .sales .description-sales{
    width: 100%;

   }
   .description-sales h2 {
    font-size: 12px;
  }
  .description-sales a {
    font-size: 10px;
  }
  .description-sales p {
    font-size: 10px;
  }
  .img-sales {
    width: 100%;
  }
  
}


.collection h2{
    margin-top: 23px;
}

.best_sellers{
    text-align: center;
    padding: 80px 0px;
    border: solid black 2px;
    background-color: #F7F6F5;
}
.best_sellers .row{ gap: 30px;}

.best_sellers .item{
    text-align: left;
     width: calc((100% - 90px) / 4);
}

.best_sellers h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 48px;
    font-family: Inter;
}
.best_sellers h3{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 6%;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-family: Inter;


}
.best_sellers .item-content {margin-top: 24px;}

.best_sellers .price{
font-size: 22px;
font-weight: 500;
font-family: Inter;
}

.best_sellers .item-content .description{
    width:80%;
    color: #807F86;
    margin-top: 24px;
    margin-bottom: 34px;
    font-family: Inter;
}
.add-to-cart{
    padding: 15px 81px;
   font-family: Inter;
    border: solid 1px black;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    width: 100%;

}
@media screen and (min-width: 0px) and (max-width: 425px){
   .best_sellers .item{
    width: 100%;

   }
   .best_sellers h3 {
    font-size: 16px;
  }
  .best_sellers .add-to-cart{
    padding: 5px 20px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {

  .best_sellers .item {
    width: calc((100% - 30px) / 2);
  }
  .best_sellers h3 {
    font-size: 16px;
  }
  .best_sellers .add-to-cart{
    padding: 10px 30px;
  }

}
@media screen and (min-width: 769px) and (max-width: 968px) {

  .best_sellers .item {
    width: calc((100% - 60px) / 3);

  }
  .best_sellers h3 {
    font-size: 16px;
  }
  .best_sellers .add-to-cart{
    padding: 15px 40px;
  }

}
.history .row{
    display: flex;
    align-items: stretch;
}

.description-history{
    width: 50%;
    background-color: #F7F6F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-history{
    width: 50%;
}


.img-history img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-history h2{
    width: 50%;
    margin: auto;
    font-family: Garamond;
}
.description-history-center{
    align-items: center;
    text-align: center;
}
.description-history p{
    font-size: 14px;
    font-weight: 600;
    width: 45%;
    margin: auto;
    color: #807F86;
    margin-top: 24px;
    margin-bottom: 34px;
    font-family: Inter;
}
.description-history a{
    
    border-bottom: solid black 1px;
   font-family: Inter;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    width: 20%;
}
@media screen and (min-width: 0px) and (max-width: 425px){
   .history .description-history{
    width: 100%;

   }
   .description-history h2 {
    font-size: 16px;
  }
  .img-history {
    width: 100%;
  }
   
  
  
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .history .description-history{
    width: 100%;

   }
   .description-history h2 {
    font-size: 16px;
   
  }
  .img-history {
    width: 100%;
  }

  
}
.new-arrivals{
    text-align: center;
    padding: 80px 0px;
    
   
}
.new-arrivals .row{ gap: 30px;}

.new-arrivals .item-arrivals{
    text-align: left;
     width: calc((100% - 90px) / 4);
}

.new-arrivals h2{
    font-size: 30px;
    
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 48px;
    
    font-family: Garamond;
    font-weight: bold;
}
.new-arrivals h3{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 6%;
    text-transform: uppercase;
    margin-bottom: 12px;
font-family: Inter;

}
.new-arrivals .item-arrivals-content {margin-top: 24px;}

.new-arrivals .price{
font-size: 22px;
font-weight: 500;
font-family: Inter;
}

.new-arrivals .item-arrivals-content .description-arraivals{
    width:80%;
    color: #807F86;
    margin-top: 24px;
    margin-bottom: 34px;
    font-family: Inter;
}
.add-to-cart-arrivals{
    padding: 15px 81px;
    background-color: white;
    border: solid 1px black;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    width: 100%;
    font-family: Inter;

}
@media screen and (min-width: 0px) and (max-width: 425px){
   .new-arrivals .item-arrivals{
    width: 100%;

   }
   .new-arrivals h3 {
    font-size: 16px;
  }
  .new-arrivals .add-to-cart-arrivals{
    padding: 5px 20px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {

  .new-arrivals .item-arrivals {
    width: calc((100% - 30px) / 2);
  }
  .new-arrivals h3 {
    font-size: 16px;
  }
  .new-arrivals .add-to-cart-arrivals-arrivals{
    padding: 10px 30px;
  }

}
@media screen and (min-width: 769px) and (max-width: 968px) {

  .new-arrivals .item-arrivals {
    width: calc((100% - 60px) / 3);

  }
  .new-arrivals h3 {
    font-size: 16px;
  }
  .new-arrivals .add-to-cart-arrivals{
    padding: 15px 40px;
  }

}
.our-blug .row{
    display: flex;
    align-items: stretch;
}
.our-blug h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 48px;
    font-family: garamond;
}
.our-blug .container{
    
    
    text-align: center;
}

.description-our-blug{
    width: 50%;
    background-color: #F7F6F5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
}

.img-our-blug{
    width: 50%;
}

.img-our-blug img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-our-blug h2{
    width: 50%;
    margin: auto;
  
}
.description-our-blug-center{
    align-items: center;
    text-align: center;
    
}
.description-our-blug p{
    font-size: 14px;
    font-weight: 600;
    width: 45%;
    margin: auto;
    color: #807F86;
    margin-top: 24px;
    font-family: Inter;
    margin-bottom: 34px;
}
.description-our-blug a{
    
    border-bottom: solid black 1px;
   
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    width: 20%;
    font-family: Inter;
}
@media screen and (min-width: 0px) and (max-width: 425px){
   .our-blug .description-our-blug{
    width: 100%;

   }
   .description-our-blug h2 {
    font-size: 16px;
  }
  .img-our-blug {
    width: 100%;
  }
  
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .our-blug .description-our-blug{
    width: 100%;

   }
   .description-our-blug h2 {
    font-size: 16px;
  }
  .img-our-blug {
    width: 100%;
  }
  
}
.sign-up{
    background-color: #F7F6F5;
}

.sign-up .row{
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding-top: 80px;
   
}
.sign-up h2{
    
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: Garamond;
    
}
.sign-up .container{
    
      
    text-align: center;
}

.description-sign-up{
    width: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
}

.description-sign-up-center{
    align-items: center;
    text-align: center;
}

.description-sign-up h2{
    width: 100%;
    margin: auto;
    font-family: Garamond;
}

.description-sign-up p{
    font-size: 20px;
    font-weight: 600;
    width: 45%;
    margin: auto;
    font-family: Inter;
   
    color: #807F86;
    margin-top: 24px;
    margin-bottom: 34px;
}
.description-sign-up a{
    border: none;
    border-bottom: solid black 1px;
   font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    width: 20%;
    
}
.input-sign{
    margin-top: 24px;
      width: 350px;
    border: none;
    border-bottom: 2px solid gray;
   background-color: #F7F6F5;
    font-size: 18px;
    text-align: center;
    outline: none;
    font-family: Inter;
}

.sign-up-button{
          padding: 20px;
  margin-top: 32px;
    margin-bottom: 80px;
    
    border: solid 1px black;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: Inter;
   
}
@media screen and (min-width: 0px) and (max-width: 425px){
   .sign-up .description-sign-up{
    width: 100%;

   }
   .description-sign-up h2 {
    font-size: 16px;
  }
  .sign-up-button{
    text-align: center;
  }
 

}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .sign-up .description-sign-up{
    width: 100%;

   }
   .description-sign-up h2 {
    font-size: 16px;
  }
  .sign-up-button{
    text-align: center;
  }
 
  
}
.footer-up{
    background-color: #3A3845;
}
.footer-up .row {

}

.description-footer{
    width: 50%;
   margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
}
.description-footer img{
    width: 20%;
   
}



 .description-footer-center{
    margin-left: 80px;
 } 

.description-footer p{
    font-size: 14px;
    font-weight: 600;
    width: 45%;
   font-family: Inter;
    color: #E5E5E5;
    margin-top: 24px;
    margin-bottom: 34px;
}

@media screen and (min-width: 0px) and (max-width: 425px){
   .footer-up .description-footer{
    width: 100%;

   }
    .divider{
    display: none;
   }
   
  
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .footer-up .description-footer{
    width: 100%;
    

   }
  
    .divider{
    display: none;
   }
  
}
@media screen and (min-width: 769px) and (max-width: 1000px) {
  .footer-up .description-footer{
    width: 100%;

   }
   .divider{
    display: none;
   }
  
  
}
.footer-links{
  display:flex;
  gap:80px;
  width: 40%;
  color: #E5E5E5;
  font-family: Inter;
}

.column{
  display:flex;
  flex-direction:column;
}

.column h4{
  margin-bottom:15px;
  font-size:14px;
  letter-spacing:1px;
  font-family: Inter;
}

.column a{
  text-decoration:none;
  color:#E5E5E5;
  margin-bottom:10px;
  font-size:14px;
  font-family: Inter;
}

.column a:hover{
  color:white;
}

.sign-up-button-footer{
          padding: 20px;
  margin-top: 32px;
    margin-bottom: 80px;
    background-color: #3A3845;
    border: solid 1px  #E5E5E5;
font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
     color: #E5E5E5;

}


.divider{
  width:1px;
  background:#6a6875;
  height:200px;
}


.footer {
    background-color: #3A3845;
}
.footer-bottom{
       margin: auto;
  text-align:center;
  margin-top:20px;
  color:#cfcfd6;
  font-size:14px;
  font-family: Inter;
}

.footer-bottom a{
  color:#CAC9CF;
  text-decoration:none;
  font-family: Inter;
}


.add-to-cart:hover{
    background-color: white;
    color: #3A3845;
    transform: scale(1.05);
    transition: 0.2s;
}
.sign-up-button:hover{
     background-color: white;

    transform: scale(1.05);
    transition: 0.2s;
}
.add-to-cart-arrivals:hover{
    background-color: white;
  
    transform: scale(1.05);
    transition: 0.2s;
}
.add-to-cart,
.add-to-cart-arrivals,.sign-up-button,.list{
    transition: 0.2s;
}









    