*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container{
width: calc(100% - 330px);
margin: 0 auto;
}

.row{
display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header{
    padding: 21.84px 0;
    

}

.header a{
    text-decoration: none;
    color: #3A3845;
    
 }



.list ul{
    display: flex;
    gap:60px;
    list-style-type: none;
}

.icons ul {
    display: flex;
    list-style-type: none;
    gap:24px;
}
.menu{
    display: none;
    width: 20px;
}
.shopping{
    display: none;

}
@media screen and (min-width: 0px) and (max-width: 968px){
    .list{
        display: none;
    }
    .icons{
        display: none;
    }
    .menu{
        display: flex;
    }
    .shopping{
        display: flex;
    }
 
}
.collection_section{
   
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  
}

.collection{
    width: calc((100% - 90px) / 4);
    text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 425px){
    .container{
        width: calc(100% - 50px);
    }
   .collection .row{
        flex-direction: column;
        gap: 20px;
    }
    .collection{
        width: 100%;
        text-align: center;

    }
}
 @media screen and (min-width: 426px) and (max-width: 768px){
    
    .container{
        width: calc(100% - 100px);
        
    }
    

    .collection{
        width: calc((100% - 30px) / 2);
        text-align: center;
    }

    .list ul{
        gap: 30px;
    }
}
 @media screen and (min-width: 769px) and (max-width: 968px){
    
    .container{
        width: calc(100% - 150px);
        
    }
    

    .collection{
        width: calc((100% - 60px) / 3);
        text-align: center;
    }

    .list ul{
        gap: 30px;
    }
}
    
    

img{
    width: 100%;
}

.collection h2{
    margin-top: 23px;
}

.best_sellers{
    text-align: center;
    padding: 80px 0px;
}
.best_sellers .row{ gap: 30px;}

.best_sellers .item{
    text-align: left;
     width: calc((100% - 90px) / 4);
}

.best_sellers h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 48px;
}
.best_sellers h3{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 6%;
    text-transform: uppercase;
    margin-bottom: 12px;


}
.best_sellers .item-content {margin-top: 24px;}

.best_sellers .price{
font-size: 22px;
font-weight: 500;
}

.best_sellers .item-content .description{
    width:80%;
    color: #807F86;
    margin-top: 24px;
    margin-bottom: 34px;
}
.add-to-cart{
    padding: 15px 81px;
    background-color: white;
    border: solid 1px black;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    width: 100%;

}
@media screen and (min-width: 0px) and (max-width: 425px){
   .best_sellers .item{
    width: 100%;

   }
   .best_sellers h3 {
    font-size: 16px;
  }
  .best_sellers .add-to-cart{
    padding: 5px 20px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {

  .best_sellers .item {
    width: calc((100% - 30px) / 2);
  }
  .best_sellers h3 {
    font-size: 16px;
  }
  .best_sellers .add-to-cart{
    padding: 10px 30px;
  }

}
@media screen and (min-width: 769px) and (max-width: 968px) {

  .best_sellers .item {
    width: calc((100% - 60px) / 3);

  }
  .best_sellers h3 {
    font-size: 16px;
  }
  .best_sellers .add-to-cart{
    padding: 15px 40px;
  }

}


    